{{- $url := .url -}}
{{- $title := .title | default $url -}}
{{- $desc := .desc | default "" -}}
{{- $repo := or .repo false -}}
{{- $icon := .icon | default "" -}}
<div class="bookmark-card">
  <a class="bookmark-card__body" href="{{ $url }}" target="_blank" rel="noopener noreferrer">
    <div class="bookmark-card__main">
      <div class="bookmark-card__title-row">
        {{- if $icon }}
          <img class="bookmark-card__icon" src="{{ $icon }}" alt="" loading="lazy" decoding="async" />
        {{- else if $repo }}
          <span class="bookmark-card__pill">GitHub</span>
        {{- end }}
        <span class="bookmark-card__title">{{ $title }}</span>
      </div>
      {{- if $desc }}
        <p class="bookmark-card__desc">{{ $desc }}</p>
      {{- end }}
      <span class="bookmark-card__url">{{ $url }}</span>
    </div>
    {{- if $repo }}
      <div class="bookmark-card__meta">
        <span class="bookmark-card__meta-pill">Repo</span>
      </div>
    {{- end }}
  </a>
</div>

