{{- if .Site.Params.header.logo }}
  {{- $logo := resources.Get .Site.Params.header.logo }}
  {{- $logo_dark := resources.Get .Site.Params.header.logoDark }}
  {{- if $logo }}
    {{- $isSvg := eq $logo.MediaType.SubType "svg" }}
    {{- $logoWidth := or .Site.Params.header.logoWidth 50 }}
    <a href="{{ "" | relLangURL }}" class="mr-2">
      <!-- prettier-ignore-attribute -->
      {{- if $isSvg }}
        <img
          src="{{ $logo.Permalink }}"
          width="{{ $logoWidth }}"
          height="{{ $logoWidth }}"
          class="max-h-[10rem] max-w-[10rem] object-scale-down object-left
          {{ if $logo_dark }}dark:hidden flex{{ end }}"
          alt="{{ .Site.Title }}"
        />
        {{- if $logo_dark }}
          <img
            src="{{ $logo_dark.Permalink }}"
            width="{{ $logoWidth }}"
            height="{{ $logoWidth }}"
            class="hidden max-h-[10rem] max-w-[10rem] object-scale-down object-left dark:flex"
            alt="{{ .Site.Title }}"
          />
        {{- end }}
      {{- else }}
        <img
          src="{{ $logo.Permalink }}"
          width="{{ div $logo.Width 2 }}"
          height="{{ div $logo.Height 2 }}"
          class="max-h-[10rem] max-w-[10rem] object-scale-down object-left
          {{ if $logo_dark }}dark:hidden flex{{ end }}"
          alt="{{ .Site.Title }}"
        />
        {{- if $logo_dark }}
          <img
            src="{{ $logo_dark.Permalink }}"
            width="{{ div $logo_dark.Width 2 }}"
            height="{{ div $logo_dark.Height 2 }}"
            class="hidden max-h-[10rem] max-w-[10rem] object-scale-down object-left dark:flex"
            alt="{{ .Site.Title }}"
          />
        {{- end }}
      {{- end }}
    </a>
  {{- end }}
{{- end }}
{{- if .Site.Params.header.showTitle | default true }}
  <a
    class="decoration-primary-500 hover:underline hover:decoration-2 hover:underline-offset-2"
    rel="me"
    href="{{ "" | relLangURL }}"
    >{{ .Site.Title | markdownify | emojify }}</a
  >
{{- end }}



