{{- $url := .Get "url" -}}
{{- if not $url }}{{ errorf "bookmark shortcode: url is required" }}{{- end }}
{{- $title := .Get "title" | default $url -}}
{{- $desc := .Get "desc" | default "" -}}
{{- $icon := .Get "icon" | default "" -}}
{{- $type := .Get "type" | default "" -}}

{{- if eq $type "" }}
  {{- if in $url "github.com" }}
    {{- $type = "github" -}}
  {{- else }}
    {{- $type = "link" -}}
  {{- end }}
{{- end }}

{{- $data := dict "url" $url "title" $title "desc" $desc "icon" $icon -}}
{{- partial (printf "bookmark/%s.html" $type) $data -}}

